VITE_API_URL='http://127.0.0.1:5001'
VITE_WEBSOCKET_URL=''

VITE_COGNITO_REGION=''
VITE_COGNITO_USERPOOL_ID=''
VITE_COGNITO_APP_CLIENT_ID=''

VITE_WL_LOGO='/small_logo.jpg'
VITE_WL_LOGIN='/large_logo.jpg'
VITE_WL_BACKGROUND='/background.png'

VITE_GOOGLE_MAPS_API_KEY=''

VITE_DEV_MODE=true
VITE_EXTENSIONS=schd,data